<div class="p-6">
  <h1 class="text-2xl font-bold mb-6">Edit: <%= @history_entry.title %></h1>
  <div class="bg-white rounded-lg shadow p-6">
    <%= render "form", history_entry: @history_entry %>
  </div>
</div>
