<div class="p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Historical Events</h1>
    <% if policy(HistoryEntry).new? %>
      <%= link_to 'New Entry', new_forge_history_entry_path, class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded' %>
    <% end %>
  </div>

  <div class="flex flex-col gap-3">
    <%= render partial: 'forge/shared/list_item', collection: @history_entries, as: :record %>
  </div>

  <div class="my-4">
    <%= render "shared/pagination_controls", pagy: @pagy %>
  </div>
</div>
