<div class="p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold"><%= @article.title %></h1>
    <div class="flex items-center gap-2">
      <% if policy(@article).edit? %>
        <%= link_to 'Edit', edit_forge_article_path(@article), class: 'text-xs font-bold inline-block border bg-blue-400 border-blue-600 hover:bg-blue-300 rounded py-2 px-4' %>
      <% end %>
      <%= link_to 'Back to List', forge_articles_path, class: 'text-xs font-bold inline-block border bg-gray-200 border-gray-400 hover:bg-gray-300 rounded py-2 px-4' %>
    </div>
  </div>

  <div class="bg-white shadow rounded-lg p-6">
    <div class="prose max-w-none">
      <%= render_markdown(@article.body) %>
    </div>
  </div>
</div>
