<div class="mb-8" data-controller="modal">
  <div class="w-full max-w-xl mx-auto">
    <%= render "pub/shared/search_form" %>
    <div class="mt-2 text-center">
      <%= render "shared/search_help_link" %>
    </div>
  </div>
  <%= render "shared/search_help_modal" %>
</div>