<button type="button"
        data-action="click->modal#open"
        class="text-sm text-gray-600 cursor-pointer bg-gray-50 hover:text-blue-600 hover:bg-blue-200 hover:underline transition-colors border border-blue-600 rounded-md py-1 px-2">
  Search syntax help
</button>
